@model Casgem_Portfolio.Models.Entities.TblReference
@{
    ViewBag.Title = "UpdateReference";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<h2>Referans Güncelle</h2>

<form method="post">
    @Html.HiddenFor(x => x.ReferenceID)
    <label>Proje Adı</label>
    @Html.TextBoxFor(x => x.ReferenceName, new { @class = "form-control" })
    <br />
    <label>Proje Konusu</label>
    @Html.TextBoxFor(x => x.ReferenceProne, new { @class = "form-control" })

    <br />
    <button class="btn btn-success"> Güncelle</button>
</form>

